body{
  margin:0;
  font-family:"Amiri", serif;
  background:#f3f3f3;
}

header{
  background:#0b6b50;
  color:white;
  text-align:center;
  padding:15px;
  font-size:22px;
}

.controls{
  background:white;
  padding:10px;
  text-align:center;
}

input, select{
  padding:8px;
  margin:5px;
  font-size:16px;
}

button{
  padding:8px 14px;
  border:none;
  background:#0b6b50;
  color:white;
  margin:5px;
}

#quran{
  padding:10px;
}

#tafsirBox{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:white;
  max-height:60%;
  overflow:auto;
  display:none;
  padding:20px;
  border-top:4px solid #0b6b50;
}

.dark{
  background:#121212;
  color:white;
}

.dark header{
  background:#000;
}
